@font-face {
    font-family: 'now';
    src: url('fonts/now/Now-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gaga';
    src: url('fonts/gaga/Gagalin-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'play';
    src: url('fonts/play/Play.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'forum';
    src: url('fonts/forum/forum.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

header {
    background-color: #abbdee;
    display: grid;
    grid-template-columns: 250px 260px 480px;
    grid-template-rows: 70px;
    justify-content: space-between;
    align-items: center;
}

header .btn-custom-1 {
    width: 30px;
}

header .logo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    user-select: none;
    align-items: center;
}

header .img1 {
    display: grid;
    height: 65px;
}

header .doogle {
    display: grid;
    font-family: 'Nixie One';
    font-weight: bolder;
    font-size: 40px;
}

header .search-box {
    width: 100%;
    border-radius: 40px;
    background: #f8f2dc;
}

header .search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #222;
    font-size: 18px;
    font-family: now;
    line-height: 40px;
}

header .menu {
    display: grid;
    grid-template-columns: 1fr 1fr 50px;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.menu p a {
    font-family: 'now', Times, serif;
    font-size: 20px;
    text-decoration: none;
    user-select: none;
    color: #222;
}

.icon {
    width: 30px;
}

.cor {
    background-color: #f8f2dc;
}

.layout {
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr;
}

.relac {
    display: grid;
    width: auto;
    justify-content: center;
    font-family: gaga;
    color: #ef959C;
    font-size: 45px;
}

.play {
    font-family: 'play';
    color: #86a397;
    font-size: 50px;
}

.forum {
    display: grid;
    width: 320px;
    height: 120px;
    font-family: 'forum';
    font-size: 21px;
    font-weight: bolder;
}

.anim {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.footer {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 20px;
}

.space {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 15px;
    border: 5px dotted #ef959C; 
}

.center {
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
}